.splash {
  width: 900px;
  margin: 0 auto;
  position: relative;

  img {
    float: left;
    animation: fadeInLeft 2s;
  }

  h1 {
    font-size: 4em;
    position: absolute;
    top: 150px;
    left: 380px;

    span {
      display: block;
      transform: translate3d(3000px, 0, 0);

      &:first-child {
        animation: bounceInRight 1s 1.5s forwards;
      }

      &:nth-child(2) {
        animation: bounceInRight 1s 2s forwards;
      }

      &:last-child {
        animation: bounceInRight 1s 2.5s forwards;
      }
    }
  }
}

.button.start {
  display: inline-block;
  font-size: 2em;
  position: absolute;
  top: 310px;
  left: 650px;
  background-color: #306199;

  &:hover {
    animation: tada 1s;
  }
}
