@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'keyframes';
@import 'splash';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
}

.question {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: lightgray;
  padding: 20px;

  .text {
  font-size: 1.35em;
  }
}

.answers {
  padding: 0;
  list-style: none;

  li {
    margin: 10px 0;
  }

  input[type="radio"] {
    visibility: hidden;
    display: block;
    float: left;

    ~ label {
      background-color: #306199;
      border: 1px solid black;
      border-radius: 6px;
      color: white;
      display: block;
      padding: 10px;
      transition: transform 0.2s;

      &:hover {
        border-color: #FF3D55;
      }
    }

    &:checked {
      ~ label {
          color: black;
          background-color: #FF3D55;
          border-color: #FF3D55;
          transform: scale(1.02);
      }
    }
  }
}

.highlight {
  color: #FF3D55;
}

.button {
  font-size: 1em;
  background-color: #FF3D55;
  padding: 10px 15px;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  text-decoration: none;

  &:hover {
    background-color: black;
  }
}

.pull-right {
  float: right;
  margin-left: 10px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
