@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'keyframes';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.splash {
  width: 900px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  img {
    float: left;
    animation: fadeInLeft 2s;
  }

  .start:hover {
    animation: tada 1s;
  }

  h1 {
    font-size: 4em;
    position: absolute;
    top: 150px;
    left: 380px;

    span {
      display: block;
      transform: translate3d(3000px, 0, 0);

      &:first-child {
        animation: bounceInRight 1s 1.5s forwards;
      }

      &:nth-child(2) {
        animation: bounceInRight 1s 2s forwards;
      }

      &:last-child {
        animation: bounceInRight 1s 2.5s forwards;
      }
    }
  }
}

.highlight {
  color: #FF3D55;
}

.start {
  display: inline-block;
  background-color: #22456D;
  padding: 15px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  border: 2px solid black;
  position: absolute;
  top: 310px;
  left: 650px;
}
