@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'keyframes';
@import 'splash';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

header {
  text-align: center;
}

main {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: lightgray;
  padding: 20px;
}

ul {
  padding: 0;
  list-style: none;

  li {
    margin: 10px;
  }
}

input[type="radio"] {
  visibility: hidden;
  display: block;
  float: left;

  ~ label {
    background-color: #306199;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    display: block;
    padding: 10px;
    transition: transform 0.2s;

    &:hover {
      border-color: #FF3D55;
    }
  }

  &:checked {
    ~ label {
        color: black;
        background-color: #FF3D55;
        border-color: #FF3D55;
        transform: scale(1.02);
    }
  }
}

.highlight {
  color: #FF3D55;
}

.button {
  display: inline-block;
  background-color: #22456D;
  padding: 15px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  border: 2px solid black;
  position: absolute;
  top: 310px;
  left: 650px;
}

.button.start {

}

.button.start:hover {
  animation: tada 1s;
}
