@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'keyframes';
@import 'splash';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

header {
  text-align: center;
}

h1 {
  font-size: 2em;
}

button {
  font-size: 1em;
}

main {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: lightgray;
  padding: 20px;
}

.question {
  font-size: 1.35em;
}

.answers {
  padding: 0;
  list-style: none;

  li {
    margin: 10px 0;
  }

  input[type="radio"] {
    visibility: hidden;
    display: block;
    float: left;

    ~ label {
      background-color: #306199;
      border: 1px solid black;
      border-radius: 6px;
      color: white;
      display: block;
      padding: 10px;
      transition: transform 0.2s;

      &:hover {
        border-color: #FF3D55;
      }
    }

    &:checked {
      ~ label {
          color: black;
          background-color: #FF3D55;
          border-color: #FF3D55;
          transform: scale(1.02);
      }
    }
  }
}

.highlight {
  color: #FF3D55;
}

.button {
  background-color: #FF3D55;
  padding: 10px 15px;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  float: right;

  &:hover {
    background-color: black;
  }
}

.button.start {
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: 310px;
  left: 650px;
  background-color: #306199;

  &:hover {
    animation: tada 1s;
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
