@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    transform: translate3d(3000px, 0, 0); }
  60% {
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

.splash {
  width: 900px;
  margin: 0 auto;
  position: relative; }
  .splash img {
    float: left;
    animation: fadeInLeft 2s; }
  .splash h1 {
    font-size: 4em;
    position: absolute;
    top: 150px;
    left: 380px; }
    .splash h1 span {
      display: block;
      transform: translate3d(3000px, 0, 0); }
      .splash h1 span:first-child {
        animation: bounceInRight 1s 1.5s forwards; }
      .splash h1 span:nth-child(2) {
        animation: bounceInRight 1s 2s forwards; }
      .splash h1 span:last-child {
        animation: bounceInRight 1s 2.5s forwards; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

header {
  text-align: center; }

main {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  background-color: lightgray;
  padding: 20px; }

ul {
  padding: 0;
  list-style: none; }
  ul li {
    margin: 10px; }

input[type="radio"] {
  visibility: hidden;
  display: block;
  float: left; }
  input[type="radio"] ~ label {
    background-color: #306199;
    border: 1px solid black;
    border-radius: 6px;
    color: white;
    display: block;
    padding: 10px;
    transition: transform 0.2s; }
    input[type="radio"] ~ label:hover {
      border-color: #FF3D55; }
  input[type="radio"]:checked ~ label {
    color: black;
    background-color: #FF3D55;
    border-color: #FF3D55;
    transform: scale(1.02); }

.highlight {
  color: #FF3D55; }

.button {
  display: inline-block;
  background-color: #22456D;
  padding: 15px;
  color: white;
  font-size: 2em;
  text-decoration: none;
  border: 2px solid black;
  position: absolute;
  top: 310px;
  left: 650px; }

.button.start:hover {
  animation: tada 1s; }
